* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body {
      margin: 70px;
}
p {
      font-size: 17px;
      font-weight: 600;
      line-height: 23px;
}

.head, .bottom-comments{
      clear: both;

}
.left {
      float: left;
      margin-left: 6px;
}
.right {
      float: right;
      
      margin-top: 30px;
}
.right h1{
      color: #ffcc00;
      margin-left: 160px;
      margin-bottom: 30px;
}
.right .inv, .right .time {
    padding-right: 120px;
}
.time h5 {
      border: 1px solid #bababd;
      padding: 2px;
      width: 170px;
      text-align: center;
}

.tabls {
      clear: both;
}
/* .flex {
      display: flex;
      fle
} */
.brand, .flex {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
}
.brand img {
      margin-left: 10px;
      height: 50px;
      
}
.brand h3 {
      margin-top: 10px;
      margin-left: 10px;
      text-transform: uppercase;
      color: #ffcc00;
}
.heading {
      background: #ffcc00;
      color: white;
      padding: 2px;
      width: 50%;
      margin: 20px 0px;
}
table {
      width: 90%;
      margin-top: 20px;
}
th {
      text-transform: uppercase;
      background: #ffcc00;
      color: white;
      font-size: 16px;
      font-weight: 300;
      padding: 6px;
}
.main {
      width: 600px;
}
tr {
   border-right: 1px solid #212112;   
}
td {
      font-size: 15px;
      font-weight: 600;
      padding: 5px;
     
      border: 1px solid #212112;
      
      
}

.blank { 
      border: none;
}
.first-thing td{
      height: 250px;
}
.comments {
      height: 190px;
      width: 520px;
      border: 1px solid #212112;
      position: absolute;
      top: 750px;
     
}
.comments .box {
      padding-left: 10px;
      
}
.payments p {
      margin-right: 120px;
      margin-top: -15px;
      text-align: center;
}
.headings {
      font-size: 17px;
      background: #ffcc00;
      padding: 5px;
      border-bottom: 1px solid #212121;
      color: white;
}
.footer {
      margin-top: 150px;
      text-align: center;
}